<div class="container">
  <div class="dashboard-container">
    <h1 class="">Hello <%= current_user.full_name %></h1>

    <%= link_to edit_user_registration_path(current_user[:id]) do %>
      <i class="fas fa-pencil-alt"> Edit Profile</i>
    <% end %>
    </br>
    <%= if @to_review %>
      <%= link_to "Review Your Recent Event", new_event_review_path(@to_review.event), class:"review-notice btn" %>
    <% end %>
    </br>
    </br>
    <div class="row">
      <div class="col-sx-12 col-sm-12 col-md-5 col-lg-5">
        <div class="dashboard-card">
          <h2>Upcoming Events</h2>
          <div class="dashboard-card-background">
            <% current_user.spots.each do |spot| %>
              <div class="event-list">
                <%= image_tag(spot.event.vibe.icon, class:"user-dashboard", height:"50px")%>
                <p><%= link_to spot.event.title, event_path(spot.event.id) %></br>
                <%= spot.event.start_time.strftime("%B %d, %Y") %> at <%= spot.event.start_time.strftime("%k:%M") %></p>
                <div class="event-list-options">
                  <%= link_to do%>
                    <i class="fas fa-ban"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sx-12 col-sm-12 col-md-5 col-lg-5">
        <div class="dashboard-card">
          <h2>Events I'm Hosting</h2>
          <div class="dashboard-card-background">
            <% @events.each do |event| %>
            <div class="event-list">
              <%= image_tag(event.vibe.icon, class:"user-dashboard", height:"50px")%>
                <p><%= link_to event.title, event_path(event.id) %></br>
                  <%= event.start_time.strftime("%B %d, %Y") %> at <%= event.start_time.strftime("%k:%M") %></p>
                <div class="event-list-options">
                  <%= link_to do%>
                    <i class="fas fa-ban"></i>
                  <% end %>
                  <%= link_to do%>
                    <i class="fas fa-pencil-alt"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sx-12 col-sm-12 col-md-5 col-lg-5">
        <div class="dashboard-card">
          <h2>Past Attended Events</h2>
          <div class="dashboard-card-background">
            <% current_user.spots.each do |spot| %>
              <div class="event-list">
                <%= image_tag(spot.event.vibe.icon, class:"user-dashboard", height:"50px")%>
                <p><%= link_to spot.event.title, event_path(spot.event.id) %>, <%= spot.event.start_time.strftime("%B %d, %Y") %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Grid setup with 4 tiles (2 on 2) -->
<!-- Tiles have margin between them (top/bottom & each side) -->
<!-- My Events have links to individual events -->
<!-- User can choose to cancel from dashboard tile -->
<!-- User can view and navigate to their HOSTED events in My Hosted tile-->
<!-- User can update profile information and edit profile picture -->
<!-- User can view events they attended in Past Events tile -->
