<div class="container">
  <div class="dashboard-container">
    <h1 class="">Hello <%= current_user.full_name %></h1>
    <%= link_to edit_user_registration_path(current_user[:id]) do %>
      <i class="fas fa-pencil-alt"> Edit Profile</i>
    <% end %>
    </br>


    <div class="row">
      <% if @unreviewed_spots != [] %>
        <div class="col-sx-12 col-sm-12 col-md-10 col-lg-10">
          <div class="alert-secondary review-notice">
            <p>Review your recent events</p>
            <ul>
              <% @unreviewed_spots.each do |spot| %>
                <li><%= link_to  spot.event.title , new_spot_review_path(spot) %></li>
              <% end %>
             </ul>
          </div>
        </div>
      <% end %>
      <div class="col-sx-12 col-sm-12 col-md-5 col-lg-5">
        <div class="dashboard-card mt-10">
          <h3>Upcoming Events</h3>
          <div class="dashboard-card-background">
            <% if current_user.spots != []  %>
              <% current_user.spots.each do |spot| %>
                  <div class="event-list">
                    <%= image_tag(spot.event.vibe.icon, class:"user-dashboard", height:"50px")%>
                    <p><%= link_to spot.event.title, event_path(spot.event.id) %></br>
                    <%= spot.event.start_time.strftime("%B %d, %Y") %> at <%= spot.event.start_time.strftime("%k:%M") %></p>
                    <div class="event-list-options">
                      <%= link_to "Cancel", spot_path(spot.id), method: :delete, class: "btn btn-cancel" %>
                    </div>
                  </div>
                <% end %>
            <% else %>
                <div class="event-list-options justify-content-center"><h5>You have no events!</h5></div>
                <div class="event-list-options justify-content-center"><%= link_to "Click to Find One!", root_path, method: :get, class: "btn btn-join header-3" %></div>
            <% end  %>
          </div>
        </div>
      </div>
      <div class="col-sx-12 col-sm-12 col-md-5 col-lg-5">
        <div class="dashboard-card">
          <h3>Events I'm Hosting</h3>
          <div class="dashboard-card-background">
            <% if current_user.events != []  %>
              <% @events.each do |event| %>
              <div class="event-list">
                <%= image_tag(event.vibe.icon, class:"user-dashboard", height:"50px")%>
                  <p><%= link_to event.title, event_path(event.id) %></br>
                    <%= event.start_time.strftime("%B %d, %Y") %> at <%= event.start_time.strftime("%k:%M") %></p>
                  <div class="event-list-options">
                    <%= link_to "Cancel", '#', class: "btn btn-cancel" %>
                    <%#= link_to do%>
                      <!-- <i class="fas fa-pencil-alt"></i> -->
                    <%# end %>
                  </div>
                <% end %>
                <% else %>
                  <div class="event-list-options justify-content-center"><h5>Host an event!</h5></div>
                  <div class="event-list-options justify-content-center"><%= link_to "Create Event", new_event_path, method: :get, class: "btn btn-join header-3" %></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sx-12 col-sm-12 col-md-5 col-lg-5">
          <div class="dashboard-card">
            <h3>Past Attended Events</h3>
            <div class="dashboard-card-background">
              <% current_user.spots.each do |spot| %>
                <div class="event-list">
                  <%= image_tag(spot.event.vibe.icon, class:"user-dashboard", height:"50px")%>
                  <p><%= link_to spot.event.title, event_path(spot.event.id) %>, <%= spot.event.start_time.strftime("%B %d, %Y") %></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-sx-12 col-sm-12 col-md-5 col-lg-5">
        <div class="dashboard-card">
          <h3>Events I Have Hosted</h3>
          <div class="dashboard-card-background">
            <% @events.each do |event| %>
            <div class="event-list">
              <%= image_tag(event.vibe.icon, class:"user-dashboard", height:"50px")%>
                <p><%= link_to event.title, event_path(event.id) %></br>
                  <%= event.start_time.strftime("%B %d, %Y") %> at <%= event.start_time.strftime("%k:%M") %></p>
                <div class="event-list-options">
                  <%#= link_to do%>
                    <!-- <i class="fas fa-pencil-alt"></i> -->
                  <%# end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Grid setup with 4 tiles (2 on 2) -->
<!-- Tiles have margin between them (top/bottom & each side) -->
<!-- My Events have links to individual events -->
<!-- User can choose to cancel from dashboard tile -->
<!-- User can view and navigate to their HOSTED events in My Hosted tile-->
<!-- User can update profile information and edit profile picture -->
<!-- User can view events they attended in Past Events tile -->
