<div class="container">
  <div class="dashboard-container">
    <h1 class="">Hello <%= current_user.full_name %></h1>
    <%= link_to "Edit Profile", edit_user_registration_path(current_user[:id]) %>
    <div class="row">
      <div class="col-sx-12 col-sm-6 col-md-4 col-lg-4">
        <div class="dashboard-card">
          <h2>My Upcoming Events</h2>
          <% current_user.spots.each do |spot| %>
            <div>
              <%= image_tag(spot.event.vibe.icon, class:"user-dashboard", height:"50px")%>
              <h3><%= spot.event.title %></h3>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-sx-12 col-sm-6 col-md-4 col-lg-4">
        <div class="dashboard-card">
          <h2>My Hosted Events</h2>
          <% @events.each do |event| %>
          <%= image_tag(event.vibe.icon, class:"user-dashboard", height:"50px")%>
            <h3><%= event.title %></h3>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Grid setup with 4 tiles (2 on 2) -->
<!-- Tiles have margin between them (top/bottom & each side) -->
<!-- My Events have links to individual events -->
<!-- User can choose to cancel from dashboard tile -->
<!-- User can view and navigate to their HOSTED events in My Hosted tile-->
<!-- User can update profile information and edit profile picture -->
<!-- User can view events they attended in Past Events tile -->
