        <%= form_tag(events_path, method: :get, class:"banner-search") do %>
          <div class="row justify-content-center form-group">
            <%= text_field_tag :search, params[:search], class: 'form-control banner-searchbar', placeholder: 'Enter Your Location' %>
          </div>
          <!-- <p>What kind of vibe are you looking for tonight?</p>
          <p>Select a vibe below then find an event near you.</p> -->
          <div class="row justify-content-between px-4">
                <% @vibes.each do |vibe| %>
                  <div class="d-flex justify-content-center pt-4 col-1 mx-3 p-2">
                    <div class="vibes clickable" data-vibe-id="<%= vibe.id %>">
                      <%= image_tag(vibe.icon, class:"img-clickable") %>
                      <%= radio_button_tag :vibe_id, vibe.id, (vibe.id), class:"radio_item" %>
                      <%= label_tag(vibe.id, vibe.name, class:"label_item")  %>
                    </div>
                  </div>
                <% end %>
          </div>

          <div class="row justify-content-center my-2">
            <%= submit_tag 'Find Events!', name: nil, class: "btn-fun btn-dark-solid" %>
          </div>
        <% end %>




