<div class="container-contact100">

    <%= simple_form_for(@event) do |f| %>
      <div class="form-box">
        <div class="left">
          <%= f.input :title %>
          <div class ="date-box">
            <div class = "date-box-left">
              <%= Date.today.strftime("%b %-d, %Y") %>
            </div>
            <div class="date-box-right">
              <%= f.input :start_time, as: :string, input_html: {class: "datepicker"} %>
            </div>
          </div>
          <%= f.input :address %>
          <%= f.input :description %>
          <%= f.input :capacity %>
          <%= f.input :photo %>
        </div>
        <div class="right">
          <%= f.association :vibe, as: :radio_buttons %>
        </div>
      </div>
      <div class="button-div">
        <%= f.submit class: "btn-fun btn-dark-transparent" %>
      </div>
  <% end %>
</div>
