<!-- <h2><%#= event.title %></h2>
<p><%#= event.address %></p> -->


<div class="card-map-info-window">
  <%= link_to event_path(event) do %>
    <% if event.photo == nil %>
      <%= image_tag("https://i1.wp.com/bestlifeonline.com/wp-content/uploads/2018/01/shutterstock_435402349.jpg?resize=500%2C322&ssl=1") %>
    <% else %>
      <%= image_tag(event.photo) %>
    <% end %>
  <% end %>
  <div class="card-map-info-window-infos">
    <div>
      <h2><%= link_to event.title, event_path(event) %></h2>
    </div>
     <p class="time"><strong>Starts at <%= event.start_time.strftime("%k:%M")%></strong> </br>
      <%= event.distance_to(params[:search]).truncate(1) %> km away</p>
      <!-- <p> Created by <%= event.user.full_name %> </p> -->
      <div class ="card-map-info-window-vibe">
          <%= image_tag(event.vibe.icon) %>
          <p> <%= event.vibe.name %>  </p>
      </div>

  </div>
</div>
