
<div class="container">
  <h1>TasteBudd Events Around the World</h1>

  <h3>What kind of vibe are you looking for tonight?</h3>

    <div class="row justify-content-center">
     <!--  <div class="col-sm-8 text-center"> -->
          <% @vibes.each do |vibe| %>
            <div class="d-flex justify-content-center pt-4 mx-3 my1">
              <div class="vibes clickable">
                <input type="checkbox" id="<%= vibe.name %>" name="<%= vibe.name %>">
                <label for="<%= vibe.name %>"><img src=<%= vibe.icon %> alt= <%= vibe.name %> height="50px"><p><%= vibe.name %></p></label>
              </div>
            </div>
          <% end %>
      <!-- </div> -->
    </div>



  <div class="row">
    <% @events.each do |event| %>
      <div class="col-sx-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card-trip">
          <img src="https://source.unsplash.com/random" alt="Event image">
          <div class="card-trip-infos">
            <div>
              <h2><%= event.title %></h2>
            </div>
            <h2 class="card-trip-pricing">
              <p> Created by <%= event.user.full_name %> </p></h2>
              <% event.attendants.each do |user| %>
              <div class="card-trip-user avatar-bordered">
            </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  </div>





