<div class="container">
  <div class="search-bar">
    <div class="row outer">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
        <%= form_tag(events_path, method: :get) do %>
        <%= text_field_tag :search, params[:search], class: 'form-control banner-searchbar', placeholder: 'Enter Your Location' %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="row justify-content-center border-0 m-0">
          <% @vibes.each do |vibe| %>
          <div class="d-flex justify-content-center pt-0 col-1 mx-3 p-2">
            <div class="vibes clickable">
              <%#= image_tag(vibe.icon) %>
              <%= radio_button_tag :vibe_id, vibe.id, (vibe.id), class:"radio_item" %>
              <%= label_tag(vibe.id, vibe.name, class:"label_item")  %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
        <div class="justify-content-center my-2">
          <%= submit_tag 'Find Events', name: nil, class: "btn btn-primary btn-search" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <!--  <a href="#display-map" class="btn btn-primary">View Event Map</a> -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="cards-tab" data-toggle="tab" href="#cards-box" role="tab" aria-controls="cards-box" aria-selected="true">Cards</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="map-tab" data-toggle="tab" href="#map-box" role="tab" aria-controls="map-box" aria-selected="false">Map</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade active show" id="cards-box" role="tabpanel" aria-labelledby="cards-tab">
      <h3 style="text-align: center;">TasteBudd Events Around the World</h3>
      <div class="row">
        <% @events.each do |event| %>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="card-trip">
              <%= link_to event_path(event) do %>
              <% if event.photo == nil %>
              <%= image_tag("https://i1.wp.com/bestlifeonline.com/wp-content/uploads/2018/01/shutterstock_435402349.jpg?resize=500%2C322&ssl=1") %>
              <% else %>
              <%= image_tag(event.photo) %>
              <% end %>

              <% end %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= link_to event.title, event_path(event) %></h2>
                </div>
                <div class="card-trip-pricing">
                  <p> Created by <%= event.user.full_name %></p>
                  <div class="card-info-vibe-distance">
                    <div class ="card-info-vibe">
                      <%= image_tag(event.vibe.icon) %>
                      <p><%= event.vibe.name %></p>
                    </div>
                    <div class="card-info-distance">
                      <p class="time"><strong>Starts at <%= event.start_time.strftime("%k:%M")%></strong></p>
                      <% if params[:search] != "" %>
                        <p><%= event.distance_to(params[:search]).truncate(1) %> km away</p>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
                <div class="card-trip-user">
                  <% event.attendants.each do |user| %>
                  <%= cl_image_tag user.profile_photo, class: "avatar-bordered" %>
                  <% end %>
                </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="map-box" role="tabpanel" aria-labelledby="map-tab">
      <div class="mapbox"
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
</div>
