<div class="container">
    <h1 style="text-align: center;">What kind of vibe are you looking for tonight?</h1>
      <%= form_tag(events_path, method: :get) do %>
        <div class="row justify-content-center">
            <%= text_field_tag :search, params[:search], class: 'form-control banner-searchbar col-4', placeholder: 'Location' %>
        </div>
        <div class="row justify-content-center">
              <% @vibes.each do |vibe| %>
                <div class="d-flex justify-content-center pt-4 col-1 mx-3 p-2">
                  <div class="vibes clickable">
                    <%= image_tag(vibe.icon) %>
                    <%= radio_button_tag :vibe_id, vibe.id, (vibe.id), class:"radio_item" %>
                    <%= label_tag(vibe.id, vibe.name, class:"label_item")  %>
                  </div>
                </div>
              <% end %>
        </div>

        <div class="row justify-content-center my-2">
          <%= submit_tag 'Search', name: nil, class: "btn btn-primary btn-search" %>
        </div>
    <% end %>
 <!--  <a href="#display-map" class="btn btn-primary">View Event Map</a> -->
  <h3 style="text-align: center;">TasteBudd Events Around the World</h3>
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-sx-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card-trip">
        <%= image_tag(event.photo) %>
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to event.title, event_path(event) %></h2>

            </div>
            <div class="card-trip-pricing">
              <p> Created by <%= event.user.full_name %> </p>
              <p> <%= event.vibe.name %> </p>
              <p> <%= event.distance_to(params[:search]).truncate(1) %> km away</p>
            </div>
            <div class="card-trip-user">
              <% event.attendants.each do |user| %>
                <%= cl_image_tag user.profile_photo, width: 70, class: "avatar-bordered" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<a name="display-map"></a>
  <div class="mapbox"
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>

