<div class="img mainbannercontainer">


<div class="container">
  <!-- <div class="main-container"> -->
    <div class="row">
      <div class="buddy-left  col-xm-12 col-md-6">
        <div class="showbannercontainer-left">
          <h1><%= @event.title %></h1>
          <p><strong>About the Event:</strong></br><%= @event.description %></p>
          <h3>Budds Going</h3>
        </div>

        <div class="card-product">
          <%= cl_image_tag @event.user.profile_photo, class: "avatar-bordered" %>
          <div class="card-product-infos">
            <% if @event.user.full_name != nil %>
              <h3><%= @event.user.full_name %> (creator)</h3>
            <% end %>
            <% if @event.user.birthday != nil %>
              <p><%= (Date.today - @event.user.birthday).to_i / 365 %> years old</p>
            <% end %>
            <% if @event.user.current_country != nil && @event.user.origin_country != nil %>
              <p>Lives in <%= @event.user.current_country %>, from <%= @event.user.origin_country %></p>
            <% end  %>
          </div>
        </div>

        <% @event.attendants.each do |user| %>
          <div class="card-product">
            <%= cl_image_tag user.profile_photo, class: "avatar-bordered" %>
            <div class="card-product-infos">
              <% if user.full_name != nil %>
                <h3><%= user.full_name %></h3>
              <% end %>
              <% if user.birthday != nil %>
                <p><%= (Date.today - user.birthday).to_i / 365 %> years old</p>
              <% end  %>
              <% if user.current_country != nil && user.origin_country != nil %>
                <p>Lives in <%= user.current_country %>, from <%= user.origin_country %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="detail-right col-xs-12 col-md-6">
        <div class="show-img-container">
          <%= cl_image_tag @event.photo, class: "show-img"  %>
          <div class="show-spots-left">
            <div style="font-weight: bold; font-size: 20px;"><%= @event.capacity - @event.attendants.count - 1 %> <%= "Spot".pluralize(@event.capacity - @event.attendants.count) %> Left!</div>
              <div class="show-button-right">
                <% if current_user == @event.user %>
                  <a href="">Edit Details</a>
                <% elsif @spot_occupied %>
                  <%= link_to "Cancel", spot_path(@spot_occupied), method: :delete, class: "btn btn-join" %>
                <% else %>
                  <%= link_to "Join Event!", join_event_path(@event), method: :post, class: "btn btn-join" %>
                <% end %>
            </div>
          </div>
        </div>
          <div class="details">
            <p><strong>Date and Time: </strong><%= @event.start_time.strftime("%B %d") %> at <%= @event.start_time.strftime("%k:%M")%></p>
            <p><strong>Location:</strong></br><%= @event.address %></p>
          </div>
          <div class="mapbox" id="map" style="width: 540px; height: 350px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" ></div>
        </div>
      </div>
    </div>
  </div>
</div>
