<div class="container">
  <div class="d-flex justify-content-center plot-banner">
    <div class="row">

      <div class="col-6">
        <%= cl_image_tag(@plot.photo) %>
      </div>
      <div class="card bg-light col-6 p-5">
        <div class="name">
          <h1><%= @plot.name %></h1>
        </div>
          <h2>$<%= @plot.price %> per 10 Years</h2>
        <p><strong>Plot Description: </strong> <%= @plot.description %></p>
          <% if user_signed_in? %>
            <%= link_to "Join and Event", new_plot_booking_path(@plot[:id]), class:"btn btn-secondary" %>
          <% else %>
            <%= link_to "Sign Up ", new_user_registration_path, class:"btn btn-secondary" %>
          <% end %>

        </br>
        <p><%= link_to "Back to all events", plots_path %></p>
      </div>
    </div>

  </div>
  <div
