<%= render 'shared/banner' %>

<div class="container">
  <h1>What kind of vibe are you looking for tonight?</h1>
    <%= form_tag(events_path, method: :get) do %>
      <div class="row justify-content-center">
            <% @vibes.each do |vibe| %>
              <div class="d-flex justify-content-center pt-4 col-2">
                <div class="vibes clickable">
                  <img src=<%= vibe.icon %> >
                  <%= radio_button_tag :vibe_id, vibe.id, (vibe.id) %>
                  <%= label_tag(vibe.id, vibe.name) %>
                </div>
              </div>
            <% end %>
      </div>
      <div class="row justify-content-center my-2">
        <%= submit_tag 'Search', name: nil, class: "btn btn-primary btn-search" %>
      </div>
    <% end %>

  <h3>TasteBudd Events Around the World</h3>
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-sx-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card-trip">
          <img src="https://source.unsplash.com/random" alt="Event image">
          <div class="card-trip-infos">
            <div>
              <h2><%= event.title %></h2>
            </div>
            <div class="card-trip-pricing">
              <p> Created by <%= event.user.full_name %> </p>
              <p> <%= event.vibe.name %> </p>
            </div>
            <div class="card-trip-user">
              <% event.attendants.each do |user| %>
                <%= cl_image_tag user.profile_photo, width: 70, class: "avatar-bordered" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

   <div
    class="mapbox"
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

</div>



