<div class="container-contact100">
  <%= simple_form_for([@spot, @review]) do |f| %>
    <div class="form-box">
      <div class="left">
        <h3>How was the:</h3>
        <%= f.input :venue, label: "Group", collection: (1..5).to_a %>
        <%= f.input :vibe, collection: (1..5).to_a %>
        <%= f.input :neighborhood, collection: (1..5).to_a %>
        <%= f.input :comment, label: "Any comments on your experience?", as: :text %>

    <div class="button-div">
      <%= f.submit class: "btn-fun btn-dark-solid" %>
    </div>
      </div>
    </div>
  <% end %>
</div>


