<div class="container-contact100">
  <%= simple_form_for([@spot, @review]) do |f| %>
    <div class="form-box">
      <div class="left">
        <%= f.input :venue, collection: 1..5 %>
        <%= f.input :vibe, collection: 1..5%>
        <%= f.input :neighborhood, collection: 1..5 %>
        <%= f.input :comment, as: :text %>

    <div class="button-div">
      <%= f.submit class: "form-btn-light-transparent" %>
    </div>
      </div>
    </div>
  <% end %>
</div>


